<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>521441459528-hlod115t30o4dfut5es9chu4ut7e8qbi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.521441459528-hlod115t30o4dfut5es9chu4ut7e8qbi</string>
	<key>API_KEY</key>
	<string>AIzaSyB6brwHEcHR5xxFsHrFLKjabJBYc9MMyLk</string>
	<key>GCM_SENDER_ID</key>
	<string>521441459528</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.xtacyBackoffice</string>
	<key>PROJECT_ID</key>
	<string>xtacy-backoffice</string>
	<key>STORAGE_BUCKET</key>
	<string>xtacy-backoffice.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:521441459528:ios:f01945386943db657ac77d</string>
</dict>
</plist>